---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
	<div class="bg-white px-6 py-32 lg:px-8">
		<div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
			<p class="text-base font-semibold leading-7 text-primary">{post.data.tags[0]}</p>
			<h1 class="mt-2 text-3xl font-bold tracking-tight text-text sm:text-4xl">{post.data.title}</h1>
            <div class="mt-4 text-sm text-gray-500">
                By {post.data.author} on {post.data.pubDate.toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })}
            </div>
            {post.data.image && (
                 <img
                    src={post.data.image.url}
                    alt={post.data.image.alt}
                    class="mt-8 aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover"
                />
            )}
			<div class="mt-10 max-w-2xl prose prose-lg prose-primary mx-auto">
				<Content />
			</div>
		</div>
	</div>
</Layout>


